body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
width:96%;
max-width: 1080px;
margin-left: auto;
margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
text-align: center;
padding-top: 20px;
margin-bottom: 20px;

}

.container__form__label{
  margin-bottom: 8px;
}

.expla{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.expla h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 15px 0;
}

.text {
  color:#3688d8;
  font-weight: bold;
  margin-left: 0;
  padding: 5px;
  border-radius: 3px;
border: #000 1px solid;
}
