body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
width:96%;
max-width: 1080px;
margin-left: auto;
margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 曜日の色の変更 */
.fc-day-sun .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion {
color: #f00;
}

.fc-day-sat .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion {
color: #00f;

}

/* ページの説明部分 */
.expla{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.expla h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 15px 0 0 0;
}

.text {
  color:#3688d8;
  font-weight: bold;
  margin-left: 0;
  padding: 5px;
  border-radius: 5px;
border: #000 1px solid;
}

/* 予定の入力、変更部分 */
form{
text-align: center;
margin-bottom: 20px;
padding: 20px 0;
  border: 1px solid #000;
  border-radius: 15px;
  margin-top: 20px;

}

.container__form__header{
  border: 1px solid #000;
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  color: #3688d8;
  font-weight: bold;
}

.container__form__label{
  margin-bottom: 8px;
}

.change{
  background-color: #3688d8;
  color: #fff;
}

.container{
  width: 75%;
  max-width: 800px;
  height: auto;
}
.container__form{
  width: 20%;
  margin-top: 50px;
}


#root > div{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 30px;
}

@media(max-width:850px){
  #root > div{
display: block;
}

.expla {
align-items: center;
}
.fc-view-harness {
height: 800px;
}
.fc-toolbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.container{
  width: 100%;

}
form{
  width: 100%;
  max-width: 400px;
}
.container__form{
  width: 80%;
  max-width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
}
